PORT=8001
DATABASE_URL=postgresql://neondb_owner:npg_q6oX9BrDdUbZ@ep-green-sun-a1v5az5z-pooler.ap-southeast-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require
JWT_ACCESS_SECRET=dev-access-secret
JWT_REFRESH_SECRET=dev-refresh-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:3000
